<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Email server to send the SVN email to -->
		<add key="EmailServer" value="Email Server"/>
		<!-- Comma delimited list of email addresses to send the SVN email to -->
		<add key="SendEmailAddress" value="Email Address 1, Email Address 2" />
		<!-- Location of svnlook.exe. Value should be blank if svnlook exists in the same folder as the mailer. SVNLook.exe is available as part of the standard SVN library. -->
		<add key="SVNLookLocation" value="" />
		<!-- URL used to view the current revision sent out by the mailer (web based). Sample shows use of View VC.  -->
		<add key="ViewRevisionURL" value="http://server name/viewvc/viewvc.cgi?rev={0}&amp;view=rev"/>
		<!-- Generic URL used to view diffs between revisions (web based). Sample shows use of View VC.  -->
		<add key="ViewDiffURL" value="http://server name/viewvc/viewvc.cgi/{0}?rev={1}&amp;r1={2}&amp;r2={3}&amp;view=diff"/>
		<!-- Generic URL used to view files (web based). Sample shows use of View VC.  -->
		<add key="ViewFileURL" value="http://server name/viewvc/viewvc.cgi/{0}?view=markup&amp;pathrev={1}"/>
		<!-- Generic URL used to view directories (web based). Sample shows use of View VC.  -->
		<add key="ViewDirectoryURL" value="http://server name/viewvc/viewvc.cgi/{0}"/>
		<!-- Optional - String used to replace the text [BUG XXXX] in the SVN log of a bug. Can be used to direct to any URL. Sample shows this pointing to a TFS server. -->
		<add key="BugURL" value="&lt;a href=http://TFS Server/WorkItemTracking/WorkItem.aspx?artifactMoniker={0}>{1}&lt;/a&gt;" />
		<!-- Optional - Active directory domain used to map email addresses to users. -->
		<add key="ActiveDirectoryServer" value=""/>
	</appSettings>
</configuration>
